@charset "UTF-8";

@font-face {
  font-family: "a";
  src: url("a.ttf");
}

.body {
  max-width: 100%;
  margin: 0 auto;
  overflow-x: auto; 
  color: black;
  font-size: 14px;
}

.supplierTable {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.row {
	display: grid;
	grid-template-columns: 165px 80px 145px 125px 217px 370px 85px 75px 200px;
	align-items: center;
	min-width: 1435pxpx;
	width: fit-content;
}

.header {
  background-color: #e0e0e0;
  font-weight: bold;
}

.cell {
  display: flex;
  justify-content: space-between; /* 왼쪽-오른쪽 정렬 */
  align-items: center;
  padding: 10px;
  height: 100%; /* row가 늘어나면 같이 늘어남 */
  border: 1px solid black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
.cell input {
  width: 100%;
  height: 100%;
  padding: 8px 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  box-sizing: border-box;
  outline: none;
}
.cell input:focus {
  border-color: #666;
  background-color: #f5f5f5;
}

.active {
  background-color: gray;
  color: black;
  font-weight: bold;
}

.TableMenuT {
  font-size: 12px;
  margin-left: 6px; /* 필요 시 여백 */
}

.reciveButton {
	width: 100%;
	height: 80%;
	background-color: darkgray;
	border-radius: 5px;
	display: flex;               
	justify-content: center;     
	align-items: center;   
}

.reciveButton:hover{
	background-color: gray;
}


.menuButton {
	white-space: nowrap;
	display: flex;
	margin: 10px 0;
	justify-content: space-between;
}

.menuButton *{
	width: 80px;
	height: 40px;
	background-color: darkgray;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;    
	text-decoration: none;   /* 링크 밑줄 제거 */
	color: black;   
}

.menuButton *:hover{
	background-color: gray;
}

.menuButtonBottom {
	white-space: nowrap;
	display: flex;
	margin: 10px 0;
	justify-content: flex-start;
}

.menuButtonBottom *{
	width: 80px;
	height: 40px;
	background-color: darkgray;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;    
	text-decoration: none;   /* 링크 밑줄 제거 */
	color: black;   
}

.menuButtonBottom *:hover{
	background-color: gray;
}

.cell select {
	margin-left: -5px;
}




